@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

input[type="text"] {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
}

.overall-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    
    width: 20%;
    max-width: 300px;
    padding: 1em;
    background-color: black;
    color: white;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 3em;
    background-color: rgb(233, 233, 233);
}

.card {
    border: 2px solid rgb(146, 146, 146);
    background-color: white;
    border-radius: .5em;
    height: 28em;
    width: 25em;
    padding: .25em;
    box-shadow: 0 0 5px rgb(146, 146, 146);
}

.task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: .5em;
    padding: .2em;
}

.task-actions {
    display: flex;
    gap: 5px;
}

.action-btn {
    font-weight: bold;
    padding: .5em 2em;
    border: none;
    border-radius: 100px;
    background-color: royalblue;
    color: white;
}

.action-btn:hover, .action-btn:focus {
    background-color: rgb(50, 86, 196);
}

.check-btn, .x-btn {
    font-size: 1rem;
    border: none;
    padding: .25em .5em;
    border-radius: 100px;
    color: white;
    box-shadow: 0 0 3px rgb(146, 146, 146);
}

.check-btn {
    background-color: rgb(87, 216, 87);
}

.x-btn {
    font-weight: bold;
    background-color: rgb(252, 58, 58);
}

.check-btn:hover, .x-btn:hover {
    opacity: .75;
}

.hide {
    display: none;
}

